/* Start Variables */
:root {
  --main-color: #2196f3;
  --font-color: #666;
  --section-color: #f7f7f7;
  --section-padding: 50px;
  --transtion: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Abel", sans-serif;
  font-family: "Lora", serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.special-heading {
  text-align: center;
  font-size: 35px;
  color: var(--font-color);
  text-transform: capitalize;
}
.special-heading span {
  color: var(--main-color);
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* start header */
header {
  position: relative;
  padding: 20px 0;
  background-color: #fff;
  color: var(--font-color);
  box-shadow: 0px 3px 20px 0px #c9c9c9;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: flex;
  align-items: center;
}
header .container .logo i {
  margin-right: 10px;
  font-size: 30px;
  color: var(--main-color);
}
header .container .logo h2 {
  font-size: 30px;
  text-transform: capitalize;
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul li:not(:last-child) {
  margin-right: 30px;
}
header .container nav ul a {
  color: var(--font-color);
  font-size: 20px;
  text-transform: capitalize;
}
header .container nav ul a:hover {
  color: var(--main-color);
}
header .container nav #manu-bar {
  display: none;
}
@media (max-width: 768px) {
  header .container nav #manu-bar {
    display: block;
    font-size: 30px;
    padding: 5px 10px;
    border: 3px solid rgba(0, 0, 0, 0.1);
  }
  header .container nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #f7f7f7;
    width: 100%;
    align-items: flex-start;
    display: none;
    z-index: 10;
  }
  header .container nav ul li {
    margin: 7.5px 0 7.5px 20px;
    padding: 20px 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 5px solid var(--main-color);
    width: 95%;
    background-color: white;
  }
  header .container nav #manu-bar:hover + ul {
    display: flex;
  }
}
/* end header */
/* start landing */
.landing {
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  height: 85vh;
  padding-top: 150px;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .container .content {
  flex: 1;
}
.landing .container .content h1 {
  color: #333;
  font-size: 50px;
}
.landing .container .content p {
  color: var(--font-color);
  margin: 30px 0 15px;
  line-height: 1.5;
}
.landing .container .content a {
  display: inline-block;
  text-transform: capitalize;
  color: var(--main-color);
  border: 3px solid var(--main-color);
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.landing .container .content a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.landing .container .content a:hover {
  color: white;
}
.landing .container .content a:hover::after {
  left: 0;
}
.landing .container .image {
  flex: 1;
}
.landing .container .image img {
  max-width: 100%;
  position: relative;
  animation: top-to-down 5s linear infinite;
  -webkit-animation: top-to-down 5s linear infinite;
}
@-webkit-keyframes top-to-down {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -50px;
  }
}
@keyframes top-to-down {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -50px;
  }
}
@media (max-width: 768px) {
  .landing {
    padding: 0;
  }
  .landing .container {
    flex-direction: column;
  }
  .landing .container .content {
    margin-bottom: 50px;
  }
}
/* end landing */
/* start Speciality */
.Speciality {
  background-color: var(--section-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.Speciality .container .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.Speciality .container .content .box {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.Speciality .container .content .box > img {
  max-width: 100%;
  position: absolute;
  top: -500%;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
.Speciality .container .content .box:hover > img {
  top: 0;
}
.Speciality .container .content .box .image > img {
  width: 30px;
}
.Speciality .container .content .box .text {
  text-align: center;
}
.Speciality .container .content .box .text h3 {
  margin: 10px 0;
  text-transform: capitalize;
}
.Speciality .container .content .box .text p {
  font-size: 12px;
  line-height: 1.5;
  color: var(--font-color);
}
/* end Speciality */
/* start Popular Foods */
.popular-foods {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.popular-foods .container .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.popular-foods .container .content .box {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
  padding: 15px;
  position: relative;
}
.popular-foods .container .content .box .image {
  position: relative;
}
.popular-foods .container .content .box .image > img {
  width: 600px;
  max-width: 100%;
}
.popular-foods .container .content .box .image span {
  position: absolute;
  top: 10px;
  left: 5px;
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.popular-foods .container .box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-foods .container .box .text h3 {
  text-transform: capitalize;
  margin: 10px 0;
}
.popular-foods .container .box .text .icons {
  display: flex;
}
.popular-foods .container .box .text .icons i {
  margin: 10px 0;
  color: #ffc107;
}
.popular-foods .container .box .text a {
  text-transform: capitalize;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.popular-foods .container .box .text a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
.popular-foods .container .box .text a:hover {
  color: #fff;
}
.popular-foods .container .box .text a:hover::after {
  left: 0;
}
/* end Popular Foods */
/* start works */
.step-work {
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.step-work .container .content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.step-work .container .content .box img {
  border: 10px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.step-work .container .content .box h3 {
  text-align: center;
  color: var(--font-color);
  margin-top: 15px;
  font-size: 14px;
}
/* end works */
/* start food gallery */
.food-gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.food-gallery .container .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.food-gallery .container .content .box {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.food-gallery .container .content .box .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: -500%;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
.food-gallery .container .content .text h3 {
  text-transform: capitalize;
}
.food-gallery .container .content .text p {
  line-height: 1.5;
  color: var(--font-color);
  margin: 10px 0;
}
.food-gallery .container .content .text a {
  text-transform: capitalize;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.food-gallery .container .content .text a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
.food-gallery .container .content .text a:hover {
  color: #fff;
}
.food-gallery .container .content .text a:hover::after {
  left: 0;
}
.food-gallery .container .content .box:hover > .text {
  top: 0;
}
.food-gallery .container .content .box .image img {
  max-width: 100%;
}
@media (max-width: 769px) {
  .food-gallery .container .content .text p {
    font-size: 12px;
  }
}
/* end food gallery */
/* start Customers Reviews */
.reviews {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.reviews .container .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.reviews .container .content .box {
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
  padding: 5px;
  position: relative;
}
.reviews .container .content .box .rev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000c2;
  color: #fff;
  padding: 10px;
}
.reviews .container .content .box .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews .container .content .box .image img {
  width: 80px;
  position: absolute;
  top: -25%;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reviews .container .content .box .image p {
  margin-top: 30px;
  text-transform: capitalize;
}
.reviews .container .content .box .icons i {
  margin: 10px 0;
  color: var(--main-color);
}
.reviews .container .content .box .rev > p {
  font-size: 10px;
  text-align: center;
}
@media (max-width: 769px) {
  .reviews .container .content {
    justify-content: center;
    align-items: center;
  }
  .reviews .container .content .box:not(:last-child) {
    margin-bottom: 30px;
  }
}
/* end Customers Reviews */
/* start order */
.order {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.order .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 10px;
  margin-top: 50px;
}
.order .container .content .image {
  flex: 1;
}
.order .container .content .image img {
  max-width: 100%;
}
.order .container .content form {
  flex: 2;
}
.order .container .content form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order .container .content form .row input:first-child {
  margin-right: 10px;
}
.order .container .content form input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.order .container .content form > input {
  height: 100px;
}
.order .container .content form button {
  position: relative;
  outline: none;
  padding: 5px 20px;
  text-transform: capitalize;
  font-size: 12px;
  color: var(--main-color);
  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  transition: var(--transtion);
  z-index: 0;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
.order .container .content form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
.order .container .content form button:hover {
  color: #fff;
}
.order .container .content form button:hover::after {
  left: 0;
}
@media (max-width: 769px) {
  .order .container .content {
    flex-direction: column;
  }
  .order .container .content form {
    width: 100%;
  }
}
/* end order */
/* start footer */
footer {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #000;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .container .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .container .contact a {
  margin: 10px;
}
footer .container .contact a {
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: block;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 5px;
  transition: var(--transtion);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
footer .container .contact a:hover {
  color: #fff;
}
footer .container .contact a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}
footer .container .contact a:hover::after {
  left: 0;
}
footer .container p {
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 30px;
}
footer .container p span {
  color: var(--main-color);
}
/* end footer */
